/* mobile first: */
.hero-img {
  height: 400px;
  width: 100%;
  /* definição da imagem de fundo: */
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat; /*assim a imagem não fica repetindo quando aumento o tamanho */
  background-size: cover; /* delimita a imagem para o tamanho delimitado na div */
}

/* estilização do texto */
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/* agora para tablet: */
@media screen and (min-width: 768px) {
  .hero-img {
    height: 620px;
    width: 100%;
    /* definição da imagem de fundo: */
    background-image: url(../img/hero-tablet.jpg);
    background-repeat: no-repeat; /*assim a imagem não fica repetindo quando aumento o tamanho */
    background-size: cover; /* delimita a imagem para o tamanho delimitado na div */
  }

  .hero h2 {
    padding: 88px 60px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
  }
}

/* agora para desktop: */
@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    width: 100%;
    /* definição da imagem de fundo: */
    background-image: url(../img/hero-desktop.jpg);
    background-repeat: no-repeat; /*assim a imagem não fica repetindo quando aumento o tamanho */
    background-size: cover; /* delimita a imagem para o tamanho delimitado na div */
  }

  .hero h2 {
    padding: 88px 120px;
    margin: 0px;
    font-weight: var(--text-weight);
    font-size: 32px;
    text-align: center;
    line-height: 1.5;
  }
}
